<%- include("header") -%>

    <div class="box" id="heading">
        <h1><%= listItems %></h1>
    </div>
    
    <div class="box">
        <% newWorks.forEach(function(newWork){%>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= newWork._id%>" onchange="this.form.submit()">
                    <p><%= newWork.Name %></p>
                </div>
                <input type="hidden" name="listName" value="<%=listItems%>">
            </form>
           
       <% });%>

       <form  class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus>
        <button type="submit" name="button" value=<%= listItems %>>+</button>
    </form>
    </div>

    <%- include("footer") -%>
